body {
	background-image: url("images/bg.jpeg");
}

.container {
	border: 5px green solid;
	background-color: white;
	margin: 0 10%;
	width: 80%; 
}

.header {
	border: 5px red solid;
	text-align: right;
}

.header h2 {
	border: 5px orange solid;
}

.post {
	border: 5px blue solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin: 10px 0 0 0;
	overflow: hidden;
}

.post h2 span {
	border: 5px purple solid;
}

.post img {
	float: right;
}

