body {
	background-image: url("images/bg.jpeg");
}

.container {
	border: 10px white solid;
	background-color: white;
	margin: 0 10%;
	width: 80%; 
}

.header {
	text-align: right;
	background-color: #A8F0F0;
}

.header h2 {
	font-size: 14pt;
}

.post {
	border: 4px #C2E9E9 solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin: 10px 0 0 0;
	overflow: hidden;
}

.post h2 span {
	border-bottom: 2px #009097 dashed;
}

.post img {
	float: right;
}

